<%- include('partials/header.ejs'); -%>

    <div class="box" id="heading">
        <h1>
          <%# listTitle %> Hello
        </h1>
        <p>This is my little library of read books with notes. Browse and enjoy!</p>
      </div>
    <div>
      <form class="sort" action="/sort" method="post">
        <label for="method">Order by:</label>
        <select id="method" name="sort_method">
          <option value=""></option>
          <option value="date_completed">Newest</option>
          <option value="rating">Rating</option>
          <option value="book_title">Title</option>
        </select>
        <input type="submit" value="Sort">
      </form>   
    </div>
      <div class="response-area">
        <section id="cards" class="cards">
            <%  for(let item of list){%>
            <article class="card-item">
                <div>
                    <img src="<%# cover %>">
               </div>
            <h2 class="card-name">
                <%=item.book_title%>
            </h2>
            <div class="card-info">
              <span class="card-id">
                <%= item.author%>
              </span>
              <span class="card-status">
                <%= item.rating%>
              </span>
              <span class="card-location">
                <%= item.date_completed%>
              </span>
              <form class="book_notes" action="/book" method="post">
                <input type="submit" name="current_id" value="<%=item.id%>" id="<%=item.id%>">
                <label for="<%=item.id%>">View Notes</label>
              </form>
              <form class="book_notes" action="/delete" method="post">
                <input type="submit" name="delete_id" value="<%=item.id%>" id="delete<%=item.id%>">
                <label for="delete<%=item.id%>">Delete entry</label>
              </form>
            </div>
            
  
          </article>
          <% } %>
        </section>
        <div class="box">
          <h3>Add new book</h3>
          <a href="/new"><button name="add" value="new">Add</button></a>
        </div>

      </div>
      <%- include('partials/footer.ejs'); -%>